<nav class="sidebar">
    <a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Dashboard</a>
    <a routerLink="/films" routerLinkActive="active">Films</a>
    <a routerLink="/actors" routerLinkActive="active">Actors</a>
    <a routerLink="/customers" routerLinkActive="active">Customers</a>
    <a routerLink="/rentals" routerLinkActive="active">Rentals</a>
    <a routerLink="/payments" routerLinkActive="active">Payments</a>

    <a routerLink="/inventory" routerLinkActive="active">Inventory</a>
    <a routerLink="/reservations" routerLinkActive="active">Reservations</a>
    <a routerLink="/revenue" routerLinkActive="active">Revenue</a>
    <a routerLink="/stores" routerLinkActive="active">Stores</a>
    <a routerLink="/stores/comparison" routerLinkActive="active">Compare Stores</a>
     <a routerLink="/staffs" routerLinkActive="active">Staff</a>
    <a routerLink="/staffs/performance" routerLinkActive="active">Staff Performance</a>
    <a routerLink="/languages" routerLinkActive="active">Languages</a>
    <a routerLink="/categories" routerLinkActive="active">Categories</a>
    <a routerLink="/cities" routerLinkActive="active">Cities</a>
    <a routerLink="/addresses" routerLinkActive="active">Addresses</a>
</nav>